<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Home</title>
</head>
<body>
<h1>My Recipes!</h1>

<h2 th:text="'List of Recipes'">List of Recipes</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="recipe : ${recipes}">
        <td th:text="${recipe.id}">Id</td>
        <td th:text="${recipe.description}">Description</td>
    </tr>
    </tbody>
</table>
</body>
</html>